.workSpace {
    padding: 5px 20px;
    list-style: none;
        width: auto;
}

.data{
  text-align: center;
  color: rgb(151, 151, 151);
}

textarea, .workspace__input{
        width: 370px;
            height: auto;
            display: block;
            border: none;
            margin-top: 20px;
            font-size: 21px;
            outline: none;
}

